In [1]:
import pandas as pd
import numpy as np

# **SERIES**

In [6]:
g7_pop = pd.Series([35.467, 63.951, 80.940, 60.665, 127.061, 64.511, 318.523])
g7_pop.name = 'G7 Population in millions' # đặt tên
print(g7_pop) # cách code series giống array của numpy nhưng kết quả xuất ra sẽ được trình bày theo hàng dọc

0     35.467
1     63.951
2     80.940
3     60.665
4    127.061
5     64.511
6    318.523
Name: G7 Population in millions, dtype: float64

In [14]:
print(g7_pop.dtype) # kiểu dữ liệu => all numbers of Series is float64
print(g7_pop.values) # trình bày các giá trị theo dạng array
print(type(g7_pop.values)) # kiểu trình bày của values là array

float64
[ 35.467  63.951  80.94   60.665 127.061  64.511 318.523]
<class 'numpy.ndarray'>

In [16]:
print(g7_pop[0]) # hàng vị trí 0
print(g7_pop[1]) # hàng vị trí 1
print(g7_pop.index) # kết quả trả về start stop step

35.467
63.951
RangeIndex(start=0, stop=7, step=1)

In [17]:
g7_pop.index = ['Cana', 'France', 'Germany', 'Italy', 'Japan', 'United Kingdom', 'United States'] # đổi tên index thành các nước thay vì 0,1,2...
print(g7_pop)

Cana               35.467
France             63.951
Germany            80.940
Italy              60.665
Japan             127.061
United Kingdom     64.511
United States     318.523
Name: G7 Population in millions, dtype: float64

In [19]:
# tạo series đầy đủ - c1
g7_population = pd.Series([35.467, 63.951, 80.940, 60.665, 127.061, 64.511, 318.523],index = ['Cana', 'France', 'Germany', 'Italy', 'Japan', 'United Kingdom', 'United States'],name = 'G7 Population in millions')
print(g7_population)

Cana               35.467
France             63.951
Germany            80.940
Italy              60.665
Japan             127.061
United Kingdom     64.511
United States     318.523
Name: G7 Population in millions, dtype: float64

In [20]:
# tạo series đầy đủ - c2
g7pop = pd.Series({'Canada':35.467, 'France': 63.951, 'Germany': 80.94, 'Italy': 60.665, 'Japan': 127.061, 'United Kingdom':64.511, 'United States': 318.523}, name = 'G7 Population in millions')
print(g7pop)

Canada             35.467
France             63.951
Germany            80.940
Italy              60.665
Japan             127.061
United Kingdom     64.511
United States     318.523
Name: G7 Population in millions, dtype: float64

###INDEXING

In [24]:
# khi đổi tên indexing thì code cũng phải đổi
print(g7pop['Canada'])
print(g7pop['Japan'])
print(g7pop.iloc[0]) # truy cập bằng vị trí

35.467
127.061
35.467

In [25]:
print(g7pop[['Canada','Japan']]) # Chọn Canada và Japan

Canada     35.467
Japan     127.061
Name: G7 Population in millions, dtype: float64

In [30]:
print(g7pop['Canada':'Italy']) # từ Canada đến Italy

Canada     35.467
France     63.951
Germany    80.940
Italy      60.665
Name: G7 Population in millions, dtype: float64

In [29]:
print(g7pop.iloc[[0,1]]) # chọn 0 và 1

Canada    35.467
France    63.951
Name: G7 Population in millions, dtype: float64

In [32]:
print(g7pop.iloc[0:1]) # chọn 0 (khác với index bằng tên)

Canada    35.467
Name: G7 Population in millions, dtype: float64

###CONDITION SELECTION (BOOLEAN ARRAYS)

In [35]:
g7_pop

Cana               35.467
France             63.951
Germany            80.940
Italy              60.665
Japan             127.061
United Kingdom     64.511
United States     318.523
Name: G7 Population in millions, dtype: float64

In [37]:
g7_pop > 70 # kiểm tra đúng/sai dựa trên điều kiện >70

Cana              False
France            False
Germany            True
Italy             False
Japan              True
United Kingdom    False
United States      True
Name: G7 Population in millions, dtype: bool

In [38]:
g7_pop[g7_pop>70] # chọn những quốc gia đạt điều kiện >70

Germany           80.940
Japan            127.061
United States    318.523
Name: G7 Population in millions, dtype: float64

In [39]:
g7_pop[g7_pop>g7_pop.mean()]

Japan            127.061
United States    318.523
Name: G7 Population in millions, dtype: float64

Ký hiệu trong code điều kiện
*   not: ~
*   or: |
*   and: &

In [44]:
print((g7_pop > 70) | (g7_pop < 40))

Cana               True
France            False
Germany            True
Italy             False
Japan              True
United Kingdom    False
United States      True
Name: G7 Population in millions, dtype: bool

###SERIES EXERCISES

Create an empty pandas Series

In [46]:
a = pd.Series()
print(a)

Series([], dtype: object)

Given the X python list convert it to an Y pandas Series

In [48]:
x = ['a','b','c']
print(type(x))
y = pd.Series(x)
print(type(y))

<class 'list'>
<class 'pandas.core.series.Series'>

Given the X pandas Series, name it 'My letters', show its values

In [50]:
X = pd.Series(['h','a','t','h','a','o','v','y'])
X.name = 'My letters'
print(X)
print(X.values)

0    h
1    a
2    t
3    h
4    a
5    o
6    v
7    y
Name: My letters, dtype: object
['h' 'a' 't' 'h' 'a' 'o' 'v' 'y']


Assign index names to the given X pandas Series

In [51]:
xindex = ['1st','2nd','3rd','4th','5th','6th','7th','8th']
X.index = xindex
print(X)

1st    h
2nd    a
3rd    t
4th    h
5th    a
6th    o
7th    v
8th    y
Name: My letters, dtype: object

Given the X pandas Series, show its first and last element

In [56]:
print(X.iloc[0])
print(X.iloc[-1])
print(X['1st'])
print(X['8th'])

h
y
h
y

Given the X pandas Series, show all middle elements

In [57]:
print(X.iloc[1:-1])

2nd    a
3rd    t
4th    h
5th    a
6th    o
7th    v
Name: My letters, dtype: object

Given the X pandas Series, show the elements in reverse position (ngược)

In [58]:
print(X.iloc[::-1])

8th    y
7th    v
6th    o
5th    a
4th    h
3rd    t
2nd    a
1st    h
Name: My letters, dtype: object

Convert the given integer pandas Series to float

In [74]:
number = pd.Series([1,2,3,4,5,6])
number = pd.Series(number, dtype=float)
number.dtype

dtype('float64')

Order (sort) the given pandas Series

In [75]:
number1 = pd.Series([4,6,8,2,1,9,6,3])
number1= number1.sort_values()
print(number1)

4    1
3    2
7    3
0    4
6    6
1    6
2    8
5    9
dtype: int64

 Set the fifth element equal to 10

In [76]:
number1[4] = 10
print(number1)

4    10
3     2
7     3
0     4
6     6
1     6
2     8
5     9
dtype: int64

Change all the middle elements to 0

In [77]:
number1[1:-1] = 0
print(number1)

4    10
3     0
7     0
0     0
6     0
1     0
2     0
5     9
dtype: int64

Add 5 to every element

In [78]:
print(number1+5)

4    15
3     5
7     5
0     5
6     5
1     5
2     5
5    14
dtype: int64

Given the X pandas Series, return True if none of its elements is zero

In [79]:
number2 = pd.Series([-1,2,0,-4,5,6,0,0,-9,10])
number2.all() # xác định đúng nếu không có phần tử = 0

np.False_

Given the X pandas Series, return True if any of its elements is zero