##COMMENTS

In [62]:
# comments everything here, after #

##VARIABLES

In [63]:
# name and age are variables
name='thao vy'
print(name)
age=20
print(age)

thao vy
20

##DATA TYPE

In [64]:
a=20
print(type(a))
b=2.5
print(type(b))
c='hello'
print(type(c))
d=False
print(type(d))
e=None
print(type(e))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>
<class 'NoneType'>

##FUNCTIONS

In [65]:
def say_st():
  return 'hello everyone, my name is thao vy, my dream is become a data analyst'
say_st()

'hello everyone, my name is thao vy, my dream is become a data analyst'

In [66]:
def empty():
  x=3
empty()
# không trả về gì do trong def không có return hay print

In [67]:
def sum(a,b):
  return a+b
sum(9,8)

17

##OPERATOR

### Arithmetic operators

In [68]:
print(8+9)
print(8*9)
print(2*3*(6+7))
print(3**4)

17
72
78
81

### Boolean operators

In [69]:
print(8==(4+4))
print(8>9)
print(8!=9)
print(8<0)

True
False
True
False

##CONTROL FLOW

### if/else/elif statements

In [70]:
data = 90
if data < 20:
  print('low')
elif data < 70:
  print('medium')
else:
  print('high')

high

In [71]:
import pandas as pd
df=pd.DataFrame([1,2,3,4,5,6,7,8,9,10,20,30,40], columns = ['numbers'])
df

    numbers
0         1
1         2
2         3
3         4
4         5
5         6
6         7
7         8
8         9
9        10
10       20
11       30
12       40

In [72]:
for number in df['numbers']: #dataframe
  if number < 5:
    print(f"{number}: low")
  elif number < 10:
    print(f"{number}: medium")
  else:
    print(f"{number}: high")

1: low
2: low
3: low
4: low
5: medium
6: medium
7: medium
8: medium
9: medium
10: high
20: high
30: high
40: high

### For loops

In [73]:
names = ['thao', 'vy', 'ha']
for i in names:
  print(i)

thao
vy
ha

### While loops

In [74]:
count = 0
while count <10:
  print(f'Value of', count, 'is lower than 10')
  count = count+1

Value of 0 is lower than 10
Value of 1 is lower than 10
Value of 2 is lower than 10
Value of 3 is lower than 10
Value of 4 is lower than 10
Value of 5 is lower than 10
Value of 6 is lower than 10
Value of 7 is lower than 10
Value of 8 is lower than 10
Value of 9 is lower than 10

##COLLECTIONS

*   Lists
*   Tuples
*   Dictionaries
*   Sets

###List is mutable

In [75]:
lists = [1,2,'hello',4,True]
lists

[1, 2, 'hello', 4, True]

In [76]:
len(lists)

5

In [77]:
print(type(lists))

<class 'list'>

In [78]:
lists[0]

1

In [79]:
lists[:]

[1, 2, 'hello', 4, True]

In [80]:
lists[1:]

[2, 'hello', 4, True]

In [81]:
lists[:3]

[1, 2, 'hello']

In [82]:
lists.append('ThaoVy')

In [83]:
print('ThaoVy' in list)

True

###Tuple is immutable

In [84]:
tuples = ('hello',1,3,True)
tuples

('hello', 1, 3, True)

In [85]:
len(tuples)

4

In [86]:
print(type(tuples))

<class 'tuple'>

In [87]:
tuples[2]

3

In [88]:
tuples.append(9) #không thể chạy, không thể sửa đổi

AttributeError: 'tuple' object has no attribute 'append'

###Dictionaries are mutable, and importantly, unordered

In [ ]:
user = {'name':'vyha','age':20,'university':'uel'}
user

In [ ]:
user['email']='vyht22413c' #mutable
user

### Sets are unordered

In [89]:
sets = {1,2,3,4,5}
sets

{1, 2, 3, 4, 5}

In [90]:
sets.add(10)
sets

{1, 2, 3, 4, 5, 10}

##INTERATING COLLECTIONS

In [92]:
for elem in lists:
  print(elem)

1
2
hello
4
True
ThaoVy

In [94]:
for key in user:
  print(key.title(),'=>', user[key])

Name => vyha
Age => 20
University => uel
Email => vyht22413c

##MODULES

In [95]:
import random
random.randint(1,10)

5

##EXCEPTIONS

In [100]:
age = [90,40,12,20,15]
for i in age:
    try:
        if i > 21:
            print(i,"Allowed entrance")
    except:
        print("Something went wrong")

90 Allowed entrance
40 Allowed entrance

In [102]:
ages = [90,40,12,20,15, True, 'name']
for i in ages:
    try:
        if i > 21:
            print("Allowed entrance")
    except TypeError:
        print("Age is probably of a wrong type")

Allowed entrance
Allowed entrance
Age is probably of a wrong type